.center{
  margin-top:6.5rem;
  width:100%;
  max-width:1400px;
}

.article-container {
  margin: 0 auto;
  width:98%;
  max-width: 1400px;
}

.update-button{
  text-align: right;
  margin-right: 1rem;
}

.loading {
  width:80%;
  text-align: center;
  margin: 2rem auto;
}

.comments-section{
  width:90%;
  margin:auto;
}