<div class="feed-container">
  <header class="feed-header">
    <app-sort-form [options]="sortOptions" (sorted)="onSorted($event)"></app-sort-form>
  </header>
  <ng-container *ngIf="isFeedEmpty">
    <div>Il n'y a pas de thèmes suivis. Voici les derniers articles publiés :</div>
  </ng-container>
  <div class="articles-grid">

    <ng-container *ngIf="articles$ | async as articles; else loading">

      <app-article-detail *ngFor="let article of sortedArticles" [article]="article" [isFullView]="false"
        class="article-card" (click)="navigateToArticle(article.id)" [ngClass]="{'clickable': true}">
      </app-article-detail>


    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</ng-template>
