<mat-card class="article-detail">
  <mat-card-title>{{ article?.title }}</mat-card-title>
  <mat-card-subtitle>
    <div class="metadata">
      <div class="date-author">
        <div>
          <ng-container *ngIf="article?.updatedAt?.substring(0, 10) === article?.createdAt?.substring(0, 10); else Edited">
            <span><mat-icon fontIcon="calendar_today"></mat-icon></span>
          </ng-container><ng-template #Edited>
            <span><mat-icon fontIcon="update"></mat-icon></span>
            [<span class="previous-date">{{ article?.createdAt | date:'mediumDate' }}</span>]&nbsp;
          </ng-template><span class="article-date">{{ article?.updatedAt | date:'mediumDate' }}</span>
        </div>

        <div class="author-info"><img [src]="'/assets/profils/'+article?.authorPicture+'.png'"
            [alt]="article?.authorUsername" class="author-picture" onerror="this.src='/assets/profils/default.png'" />
          <div class="author">{{ article?.authorUsername }}</div>
        </div>
      </div>
      <ng-container *ngIf="isFullView">
        <ng-container *ngIf="themes$ | async as themes">
          <div class="themes-list">
            <div *ngFor="let themeId of article?.themeIds">
              <div [style.backgroundColor]="getThemeColor(themeId, themes)" class="theme"
                title="Autres articles du thème {{getThemeTitle(themeId, themes)}}" (click)="navigateToTheme(themeId)"
                [ngClass]="{'clickable': true}">
                <img [src]="'/assets/themes/'+getThemeIcon(themeId, themes)" alt="theme icon" class="theme-icon"
                  onerror="this.src='/assets/themes/themeA.png'" />
                &nbsp;
                {{ getThemeTitle(themeId, themes) }}
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </mat-card-subtitle>

  <mat-divider></mat-divider>

  <mat-card-content>
    <p [ngClass]="isFullView ? 'full-view' : 'abstract'">{{ article?.content }}</p>
  </mat-card-content>

</mat-card>
