.create-comment {
  width: 90%;
  margin: 0 auto;

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2%;
  }

  .form-field {
    width: 92%;
  }

  button {
    width: auto;
    max-width: 6%;
    height: 3.3rem;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    background: transparent;
    border: none;
    box-shadow: none; 
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:purple;
    cursor: pointer;

    mat-icon {
      width: 2.2rem;
      height: 2.2rem;
      font-size: xx-large;
      transform: rotate(-35deg);
    }

    &:hover, &:focus {
      background: transparent; 
      box-shadow: none; 
    }
  
    &:disabled {
      color: rgba(0, 0, 0, 0.38); 
      cursor: not-allowed;
    }
  }
}

@media screen and (max-width: 758px) {
  .create-comment form {
    width: 98%;
    margin: 0 auto;
    display:block;

    .form-field {
      width: 100%;
      position: relative;
    }

    button {
      width:0%;
      position: relative;
      right: -88%;
      top:-5rem;
    }
  }
}
