.user-password {
  display: flex;
  flex-direction: row;
}

.user-password-card {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 3.8rem;
  text-align: center;
  align-items: center;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  margin: auto;
  width: 60%;
}


.user-password-card {
  mat-card-title {
    margin: 1rem;
  }

  mat-card-content {
    width: 80%;
  }
  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }

}
